@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  background-color: #eeeeee;
  text-align: center;
}

.title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Righteous', serif;
  font-size: 12rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px 1px #ef5350,
               -8px 8px 1px #f48fb1,
               -12px 12px 1px #7e57c2,
               -16px 16px 1px #2196f3,
               -20px 20px 1px #26c6da,
               -24px 24px 1px #43a047,
               -28px 28px 1px #eeff41,
               -32px 32px 1px #f9a825,
               -36px 36px 1px #ff5722;
}

.question {
  font-family: monospace;
  font-size: 2rem;
}

button {
    margin-top: 2rem;
    font-family: monospace;
    font-size: 2rem;
    display: inline-block;
    width: auto;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;
    width: 12em;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-width: 0.25em;
    border-style: solid;
    padding: 1em;
    border-radius: 2px;
    background-color: transparent;
    margin-left: 1rem;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 5rem;
  }
}

button:first-of-type {
  border-color: #f06292;
  background-color: #f8bbd0;
}

button:nth-of-type(2) {
  border-color: #ef6c00;
  background-color: #f9a825;
}

button:nth-of-type(3) {
  border-color: #00bcd4;
  background-color: #80deea;
}

button:nth-of-type(4) {
    border-color: #5e35b1;
    background-color: #b39ddb;
}

.score {
  font-size: 6rem;
}